<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  <a class="resume-link {% if page.url == '/' %} active{% endif %}"
      href="https://drive.google.com/file/d/0B_8ENXOsgVR0LW5aMmZLZUo3alk/view?usp=sharing">Resume
  </a>


  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
